body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #000;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.card {
  background: #222;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #000;
  padding: 20px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.socials a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.copy {
  opacity: 0.7;
  font-size: 14px;
}

/* CENTER (maintenance) */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}